/*
-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
    1. Home Page - 1 
        1.1 
        1.2 



/*=============All margin Paddding ==============*/
.ma-top-60 {
    margin-top: 60px;
}

.pad-80 {
    padding: 40px 0;
}

.ma-top-47 {
    margin-top: 47px;
}

.mar-top-40 {
    margin-top: 40px;
}

.mar-tp-30 {
    margin-top: 30px;
}

.section-top-30 {
    margin-top: 30px;
    width: 100%;
}

.res-pad-top-non-30 {
    margin-top: 30px;
}

.mar-bt-60 {
    margin-bottom: 60px;
}

.mar-0 {
    margin-right: 0 !important;
}

/*================= 1.1 Header Area ===============*/
/*
.header-top-area {
    background: #FF7637;
    padding: 20px 0;
}

.header-top-area .row {
    align-items: center;
}

.number-area p {
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: 400;
    margin-right: 40px;
    text-transform: capitalize;
}

a.reg-btn {
    background: #000011 none repeat scroll 0 0;
    border-radius: 30px;
    padding: 5px 20px;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    font-size: 14px;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

a.reg-btn:hover {
    color: #fff;
    background: #FF7637
}

.login-reg a {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.top-loging {
    margin-right: 30px;
}

.top-loging:hover {
    color: #FF7637
}*/

header {
    background: transparent !important;
    position: relative;
    top: 27px;
    z-index: 9;
}

.logo a {
    display: inline-block;
}

.main-menu {
    text-align: right;
}

.main-menu nav ul li {
    display: inline-block;
    position: relative;
}

.main-menu nav ul li a {

    margin: 0 2px;
    font-size: 13.5px;
    color: #fff;
    display: block;
   /* font-family: 'Glacial Indifference', serif;*/
   font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 10px 4px;
    text-transform: uppercase;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    letter-spacing: 2px;
}

.main-menu nav ul li:last-child a {
    padding-right: 0;
}

.main-menu nav ul li a:hover {
    color: #e2a738;
}

.main-menu nav ul li.active a {
    color: #e2a738;
}

/* mobile menu slicknav*/
.mobile_menu {
    position: absolute;
    right: 30px;
    width: 100%;
    z-index: 9999999;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
}

.slicknav_menu {
    background: transparent;
    margin-top: 21px;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: red;
    height: 2px;
    margin: 3px 0;
    transition: all 0.3s ease 0s;
    width: 30px;
}


.slicknav_btn {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -42px;
    position: relative;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(1px, 7px);
    transform: rotate(45deg) translate(1px, 7px);
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-6px);
    transform: rotate(-45deg) translateY(-6px);
}

.slicknav_menu {
    margin: 10px 0;
    padding: 0;
}

.slicknav_icon-bar {
    background: #FF3846 none repeat scroll 0 0 !important;
}


.slicknav_nav {
    background: #FF3846 none repeat scroll 0 0;
    float: right;
    margin-top: 11px !important;
    padding: 0;
    width: 250px;
}


.slicknav_nav a:visited {
    color: #fff;
}

.slicknav_nav a:hover {
    background: #fefefe;
    border-radius: 0;
    color: #000;
}

.slicknav_nav a {
    font-size: 14px;
    font-weight: 400;
}

.slicknav_nav .slicknav_arrow {
    float: right;
}

.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row:hover .slicknav_arrow {
    border-radius: 0;
    background-color: #3c3333;
}

/*============================================
	1.1 Header Area END
*=============================================*/

/*============================================
	1.2 Hero Area  Start
*=============================================*/

.single-slider-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
    z-index: 1;
}

.single-slider-item::after {
    position: absolute;
    content: "";
    background: #00282D;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}

.single-slider-item.slider-bg-1 {
    /*background-image: url(../img/slider/slider1.jpg);*/
    background-image:linear-gradient(rgba(0,0,0,-0.5),rgba(0,0,0,-0.5)),url(../img/slider/slider1.jpg);
}


.slide-tab {
    display: table;
    height: 100%;
    width: 100%;
}

.slide-tab-cell {
    display: table-cell;
    vertical-align: middle;
}



.slide-tab-cell h2 {
    color: #fff;
    font-size: 59px;
    font-weight: 600;
    line-height: 73px;
}

.slide-tab-cell p {
    color: #dbdbdb;
    font-family: 'Open Sans', sans-serif;
    padding: 4px 0 30px;
    font-size: 24px;
}

.slide-tab .search {
       border: medium none;
    border-radius: 41px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    padding: 14px 37px;
    width: 100%;
    background: #fff;
}

.search-area {
    position: relative;
}


.search-icon {
      background: #ffffff;
    color: #FF3846;
    border-radius: 101%;
    cursor: pointer;
    padding: 10px 0px;
    position: absolute;
    right: 23px;
    top: 0;
}

.fa-search {
    margin-top: -3px;
}

/*Slider convat*/
.hero-area .owl-nav div {
    background: rgba(225, 225, 225, 0.5) none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    height: 50px;
    left: 5%;
    line-height: 45px;
    margin-top: -25px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 0.3s ease 0s;
    width: 50px;
}

.hero-area .owl-nav div:hover {
    background: rgba(225, 225, 225, 0.2) none repeat scroll 0 0;
}

.hero-area .owl-nav div.owl-next {
    left: auto;
    right: 5%;
}

.owl-prev span,
.owl-next span {
    position: absolute;
    height: 16px;
    width: 16px;
    box-shadow: -2px 2px 0 #dbdbdb;
}

.owl-prev span {
    transform: rotate(45deg);
    top: 50%;
    margin-top: -8px;
    margin-left: -2px;
    left: 50%;
}

.owl-next span {
    transform: rotate(225deg);
    top: 50%;
    margin-top: -8px;
    margin-right: -2px;
    right: 50%;
}

/*=================
1.2 Hero Area  End
=================*/

.section-heading h2 {
    font-size: 40px;
    line-height: 35px;
    text-transform: capitalize;
}

.section-heading p {
    color: #3f3e3e;
    padding: 24px 0 35px;
}

/*=================
ssection-heading
=================*/



/*=================
1.3 popular courses Area Start
=================*/

.biddaloy-btn {
    background: #e2a738 !important;
    text-transform: uppercase !important;
    padding: 14px 42px;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
     font-family: 'Lato', sans-serif;
     font-size: 13px;
     letter-spacing: 3px;
    
}

a.reg-btn:hover,
.biddaloy-btn:hover,
.subscribe input[type="submit"]:hover,
.sign-up-area input[type="submit"]:hover {
    border-radius: 0;
    background:#c4d3da !important;
    color:black !important;
}



/*=================
1.3 popular courses Area End
=================*/


/*=================
1.5 Our Discount start
=================*/
.discount-area {
    background: #e8edf0 none repeat scroll 0 0;
}

.discount-area h2.h2-light {
    color: #000000;
    font-size: 30px;
    font-weight: 200;
    line-height: 28px;
    margin: 0;
}

.discount-area h2 {
    color: #000000;
    font-size: 29px;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-bottom: 5px;
    margin-top: 22px;
}

.discount-area p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
}

/*=================
1.5 Our Discount End
=================*/



/*=================
1.5 Wisdom Bureau
=================*/
.wisdom-speaker-area {
    background-color: #e8edf0;
}
.wisdom-speaker-area p {
    color: #000000;
   
}

.wisdom-speaker-area .section-heading p {
     padding: 24px 0 35px;
}
/*.icon-wrapper {
    color: #000000;
    border-radius: 22px;
    width: 45px;
    height: 45px;
    padding-top:9px;
    margin: 0 auto 9px;
    border: 1px solid #000000;
}*/

.icon-wrapper img {
        margin-right: 2px;
    height: 66px;
    margin-bottom: 5px;
}
/*=================
1.7  Our speaker Area Start
=================*/
.speaker-area {
    background: #FFFFFF;
}

.speaker-to-card {
    position: relative;
}

.speaker-social {
    width: 90%;left: 11px;
    height: 250px;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    -moz-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    z-index: 2;

}
.speaker-social li {
    color: #fff;
    text-align: left;
}
/*.speaker-social li a {
    background: #fff;
    color: #000;
    display: block;
    padding: 13px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}*/

.speaker-social a:hover {
    background: #FF3846;
    color: #fff;
}

.speaker-to-card::after {
    background: rgba(0,0,0,1);
    content: "";
    height: 0;
    left: 0;
    opacity: 0.57;
    position: absolute;
    bottom: 0;
    width: 100%;
 /*   -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;*/
}

.single-speaker:hover ::after {
    height: 100%;
}

.single-speaker:hover .speaker-social {
    opacity: 1;
    right: 22px;
}

.single-speaker {
    text-align: center;
    /*-webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.36);*/
}

.speaker-detail {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.speaker-detail h4 {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.speaker-detail h5 {
    color: #eeeeee;
    font-weight: 300;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.speaker-detail p {
    visibility: visible;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    opacity: 1;
}

.single-speaker:hover p {
    display: none;

}

/*
.speaker-detail {
    height: 180px;
}
*/

.single-speaker .speaker-detail {
    background: #26436c;
    transition: all .4s ease;
    position: relative;
    padding: 30px 10px;

}

/*.single-speaker:hover .speaker-detail {
    background: #FF7637;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

}*/

.single-speaker .speaker-detail a {
    display: none;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.avl-for-icons {
    display: none;
}

.single-speaker:hover a, .single-speaker:hover .avl-for-icons {
    display: block;

}

/*=================
1.7  Our speaker Area End
=================*/

/*=================
1.9 Subscribe Area Start
=================*/

.subscribe {
    background: #FF7637;
    color: #fff;
}

.section-heading h4 {
    font-weight: 500;
    margin-top: 15px;
}

.subscribe p {
    color: #f0f0f0;
}

.subscribe-option {
    position: relative;
}

.subscribe input[type="submit"],
.subscribe input[type="email"] {
    border: medium none;
    border-radius: 50px;
    display: block;
    overflow: hidden;
    padding: 14px 26px;
    width: 100%;
    margin: 0;
}

.subscribe-option p {
    padding: 0;
}

/*=================
1.9 Subscribe Area End
=================*/

/*=================
1.10 Contact Us Area Start
=================*/

.contact-area h3 {
    color: #414141;
    font-size: 25px;
    line-height: 24px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.contact-info p {
    color: #000000;
    margin-bottom: 20px;
    font-weight: 300;
}


.contact-info h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-top: 12px;
    color: #000;
}

.contact-info h5 span {
    font-weight: 300;
}

.sign-up-area input[type="submit"],
.sign-up-area input[type="text"],
.sign-up-area input[type="email"],
.sign-up-area input[type="tel"],
.sign-up-area input[type="textarea"] {
    margin: 0 15px 12px 0;
    overflow: hidden;
    padding: 10px 19px;
    width: 100%;
    border: 1px solid #DDDDDD;
}
.submit-btn {
    margin-top: 10px !important;
}

.sign-up-area textarea {
    border: 1px solid #DDDDDD;
    float: left;
    line-height: 25px;
    margin-right: 30px;
    padding: 10px 19px;
    width: 100%;
    margin-top: 12px;
}

.subscribe input[type="submit"],
.sign-up-area input[type="submit"] {
    background: #e2a738;
    border: medium none;

    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    padding: 13px 31px;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    top: 0;
    cursor: pointer;
    transition: all .4s ease;
}

.subscribe input[type="submit"] {
    padding: 14px;
    position: absolute;
    right: 0;
    top: 0;
    width: 140px;
}

/*=================
1.10 Contact Us Area End
=================*/

/*=================
1.11 Footer  Area Start
=================*/
.footer-area {
    background: #26436c;
}

.logo-text p {
    color: #f4f4f4;
    padding-top: 7px;
    line-height: 1.5;
}

.footer-area ul li {
    margin-bottom: 5px;
}


.footer-area ul li:last-child {
    margin-bottom: 0
}

.footer-area a {
    font-size: 17px;
    font-weight: 400;
    transition: all 0.3s ease 0s;
}

.footer-nav a:hover {
    margin-left: 5px;
}

.social-info h5 {
    color: #f4f4f4;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 12px;
    font-size: 15px;
}

.social-info a {
    font-weight: 400;
    margin-top: 30px;
}

.footer-nav {
    margin-left: 0px;
}

.social-info ul li {
    display: inline-block;
    margin: 0;
}

.social-info ul li a {
    background: #e2a738;
    border-radius: 3px;
    height: 35px;
    line-height: 32px;
    margin-right: 1px;
    text-align: center;
    width: 35px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.social-info ul li a:hover {
    background: #e2a738;
    border-radius: 50px;
}

.footer-area h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
}

.footer-area span {
    font-size: 10px;
    padding: 0 20px;
}

.bottom-footer {
    margin-top: -18px;
}

.scrollTop:hover {
    background-color:#c4d3da !important;
  
    border-radius: 0px;
}
.scrollTop:hover a {
    color:black;
}
.scrollTop {
  position: fixed;
  right: 1%;
  bottom: 10px;
  background-color: #e2a738;
  padding: 10px 15px;
  opacity: 0;
    z-index: 999999;
     -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    border-radius: 5px;
}

/*============= About Page =========*/

/*  ================
1.1 All Hero Area
===================*/
.all-page-hero {
        align-items: center;
    background: rgba(0, 0, 0, 0) url(../img/slider/slider1.jpg) no-repeat scroll center center / cover;
    display: flex;
    height: 330px;
    justify-content: center;
    position: relative;
    z-index: 1;
    text-align: left;
    top: -77px;
    margin-bottom: -80px;
}

.page-content h2 {
    color: #fff;
    font-size: 72px;
    font-weight: 800;
    line-height: 56px;
    margin-bottom: 20px;
}

.page-content a {
    color: #dbdad9;
    font-size: 20px;
    font-weight: 400;
}

.about-active {
    font-weight: 600;
    font-size: 50px
}

.page-content {
    color: #fff;
    margin-top: 110px;
    font-family: 'Glacial Indifference', serif;
    text-align: center;
}

.all-page-hero::after {
    background: #00282d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: .6;
    z-index: -1;
}

/*==========================
 1.2 Our Vision Area Star
============================*/
.vision-area .section-heading p {
    color: #3f3e3e;
    padding: 30px 0 50px;
    width: 80%;
}

.row.vision-box {
    margin-left: 0;
    margin-right: 0;
}

.single-vision {
    text-align: center;
    padding: 90px 0;
}

.vision-box {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(136, 137, 183, 0.23);
    -moz-box-shadow: 0px 0px 15px 0px rgba(136, 137, 183, 0.23);
    box-shadow: 0px 0px 15px 0px rgba(136, 137, 183, 0.23);
    z-index: 1;
}

.pad-top--90 {
    margin-top: -90px;
}

.single-vision h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 30px;
}

.vision-video-btn h3 {
    color: #ffffff;
    font-size: 26px;
    letter-spacing: 4px;
    margin-top: 30px;
    text-transform: capitalize;
}

.vision-box .bg-img {
    position: relative;
    background-image: url(../img/blog/blog-videobg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.vision-box .bg-img:after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    background: #00282d;
    opacity: .6;
    z-index: -1
}

.video-btn {
    animation: 1s ease 0s normal none infinite running shadow-pulse;
    background: #FF7637 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    height: 50px;
    margin: 0 auto;
    padding: 11px;
    width: 50px;
    cursor: pointer;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
    }
}

@keyframes shadow-pulse-big {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
    }

    100% {
        box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
    }
}

/*============= About Page End =========*/


/* Custom */

.page-link{
    color: #000011;
}

.previous-button, .next-button {
    background: #FF7637;
    color: #fff;
}

.previous-button:hover, .next-button:hover  {
    background:#FF7637;
    color: #fff;
}


/* Single Page */

.speaker-single-img img {
    border-radius: 100%;
    height: 155px;
}
.speaker-top-bar p {
    color: #000000;
}

.test-border {
    border: 1px solid #FF7637;
}


.biddaloy-btn-sm {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    background: #e2a738;
    padding: 6px 17px;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    letter-spacing: 3px;
    color: white;
}

.biddaloy-btn-sm:hover {
    border-radius: 0;
    background:#c4d3da;
    color:black;
}

.mls-1 {
    margin-left: .10rem;
}

.expertise {
    background: white;
    border: 1px solid #E8EBF2;
    border-radius: 3px;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin-bottom: 6px;
    font-size: 13px;
}

.book {
    background: white;
    border: 1px solid #E8EBF2;
    border-radius: 3px;
    padding: 24px;
    padding-left: 31px;
    padding-right: 65px;
    display: inline-block;
    margin-bottom: 6px;
    width: 100%;
}

.article {
    background: white;
    border: 1px solid #E8EBF2;
    border-radius: 3px;
    padding: 16px;
    padding-left: 31px;
    padding-right: 65px;
    display: inline-block;
    margin-bottom: 6px;
    width: 100%;
    font-weight: bold;
}
.book a, .article a {
    color:#000000;
    text-decoration: underline;
}

input {
    font-size: 13px !important;
}

.footer-social ul li {
    display: inline-block;
    margin: 0;
}
.footer-social ul li a {
margin-right: 12px;
}
 .footer-section-padding {
    padding: 60px 0;
 }

.footer-form input {
    width: 100%;
        margin: 0 24px 8px 0;
            padding: 10px 17px;
}

.footer-form input[type="submit"] {
    background-color: #e2a738;
    border: 1px solid #e2a738;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    letter-spacing: 3px;
}


.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #FF7637;
    cursor: pointer;
}

/*


.social-info a {
    font-weight: 400;
    margin-top: 30px;
}

.social-info ul li a {
    background: #FF7637;
    border-radius: 3px;
    height: 35px;
    line-height: 26px;
    margin-right: 15px;
    text-align: center;
    width: 35px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.social-info ul li a:hover {
    background: #FF7637;
   *//* border-radius: 50px;
}*/

.get-details {
     margin-top: 14px !important;
    background: #e2a738;
    padding: 5px;
    padding-top: 6px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 12.5px;
    letter-spacing: 3px;
}

.get-details:hover {
    background: #c4d3da;
    color:black;
}

.container-fluid-custom {
    width: 93%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

 .hero-area {
        position: relative;
        top: -48px;
        margin-bottom: -76px;
    }


@media only screen and (max-width: 967px){
.hero-area {
        top: -79px !important; }
    }

.speaker-contact-form input[type="text"], 
.speaker-contact-form input[type="email"], 
.speaker-contact-form input[type="Message"]  {
    margin: 0 40px 15px 0 !important;
    padding: 7px 9px !important;
    width: 100% !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.speaker-contact-form label {
         font-family: 'Lato', sans-serif;

}



.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #e2a738;
    border-color: #e2a738; 
}